<div class="header">
  <div class="container">
    <img src="https://avatars3.githubusercontent.com/u/14187003?v=3&s=460">
    <h1>Messenger App</h1>
  </div>
</div>

<div class="messages">
  <div class="container">

      <h3> Live and let die </h3>
      <code> c = (put "Digite algo:") </code>

      <h4> Live and let die </h4>
      <video>
        <?<video src="C:\Users\Kid\Videos\Clips\Curto Circuito.mpg" autoplay poster="C:\Users\Kid\Pictures\Gifs\gandalf.gif">
      </video>

      <h5> Live and let die </h5>
        <audio autoplay="autoplay" controls="controls">
	       <source src="sua_musica.mp3" type="audio/mp3" />
	         seu navegador não suporta HTML5

      <h6> Live and let die </h6>
        <video width="320" height="240" controls="controls" autoplay="autoplay">
        <source src="Yes Bank Advertisment.mp4" type="video/mp4">
        <object data="" width="320" height="240">
        <embed width="320" height="240" src="Yes Bank Advertisment.mp4">
        </object>
        </video>
  </div>
</div>
